.content-block{
  padding: 70px;
}

div.circle {
  border-radius: 50%;
  width: 42px;
  height: 41px;
  display: inline-block;
  text-align: center;
  font-size: 28px;
  color: #f2f2f2;
  background-color: #999;

  &.active{
    background-color: #2f3342;
  }
}

#action_board div.circle {
  width: 20px;
  height: 20px;
}


div.line{
  display: inline-block;
  color: #999;
}

.arrow-right {
  width: 0;
  height: 0;
  border-top: 12px solid transparent;
  border-bottom: 12px solid transparent;
  border-left: 14px solid #2f3342;
}

