.nav-bg-footer{
  background-color: #33375F;
}
footer#footer {
  width:100% !important;
  background-color: #33375F;

  ul.inline-list{
    padding-top: 8px;
    height: 60px;
    margin-bottom: 0px;
    li a{
      color: #f2f2f2;
      padding-top: 10px;
      font-weight: 300;
    }
  }
}

