.stances {
  @extend .margin__bottom--30;
}
.card{
  @extend .content__info__wrapper--full;
  @extend .background__color--white;
  @extend .margin__bottom--30;
  @extend %color__font--blue;
  @extend .font__align--center;
  border: 1px solid $button-border;
}

#action_board, #my_stance, #profile {
  .background__color--icon-blue {
    >p {
      float: left;
      width: 83%;
    }
  }
}

.social {
  float: left;
  margin: -10px 0;
  i {
    text-align: left;
    margin-right: 5px;
    font-size: 18px;
  }

}
.social + p {
    line-height: 0;
  }

.right__arrow {
  overflow: hidden;
  width: 18%;
  position: absolute;
  left: 21px;
  bottom: 0;
  top: 0;
  right: 0;
  height: 160px;
  margin: auto 0;
  i {
      display: block;
      margin-left: -89px;
      font-size: 170px;
  }
}
.right__card--blue {
  min-height: 300px;
}
.text__box{
  width: 74.66667%;
  position: absolute;
  bottom: 0;
  top: 0;
  right: 20px;
  margin: auto 0;
  min-height: 180px;
  height: 180px;
  &.text__box--only__text{
    width: 82.66667%;
    padding-right: 5%;
  }
}
.text__box2{
  width: 90%;
  padding: 5%;
}
.name__box {
  min-height: 60px;
}

.button__show {
  @extend .cf;
}
@include responsive(tab-landscape) {
  .right__arrow {
    height: 83px;
    i {
      margin-left: -49px;
      font-size: 90px;
    }
  }
  .text__box {
    height: 260px;
  }
  .card {
    width: 89%;
  }
}
@include responsive(tab-portrait) {
  .card {
    width: 90%;
  }
  .right__card--blue {
    min-height: 400px;
    margin-top: 30px;
  }
  .right__arrow {
    height: 83px;
    i {
      margin-left: -49px;
      font-size: 90px;
    }
  }
  .text__box {
    height: 340px;
    width: 64.66667%;
  }
  #action_board {
    .margin__top--30--tp{
      margin-top: 30px;
    }
    .background__color--icon-blue {
      >p {
        float: left;
        width: 80%;
      }
    }

    &.devider--left--inset{
      @include  box-shadow(0px, 0px, 0px, rgba(#000,0), inset);
    }
    .action__text {
      margin-top: 12px;
    }
  }
}

.dl-horizontal  {
  dt{
    float: left;
    width: 160px;
    overflow: hidden;
    clear: left;
    text-align: right;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  dd {
    margin-left: 180px;
    text-align: left;
  }
}
