header {
  @extend .background__color--royal-blue;
  height: 67px;
  .logo{
    width: 160px;
    margin-top: 15px;
    @extend %clearfix;
    @extend .display--inblock;
    @extend .float--left;
    i{
      font-size: 35px;
    }
  }
  nav {
    width: 65%;
    margin-top: 12px;
    &.loggedin{
      width: 84%;
    }
    >ul{
      margin-top: 10px;
    }
    li{
      @extend %color__font__dark-bg--main;
      @extend .display--inblock;
      @extend .margin__right--12;
      &:last-child {
        margin-right: 0;
      }
    }
    a {
      @extend %color__font__dark-bg--main;
      font-size: 12px;
      font-weight: 700;
    }
    .right__nav{
      font-size: 12px;
      font-weight: 700;
    }
    .user__name {
        vertical-align: 13px;
    }
    .follower__count {
        vertical-align: 8px;
        font-size: 30px;
    }
    .notification{
      margin-left: 10px;
      padding: 0px 12px;
      background-color: $darkbg-text-main;
      @include border-top-radius(10px);
      @include border-right-radius(10px);
      @include border-bottom-radius(10px);
      @include border-left-radius(10px);
      text-align: center;
      display: inline-block;
    }
  }
}
.landing {
  position: absolute;
  z-index: 99;
  background-color: transparent !important;
  width: 100%;
}



@include responsive(tab-landscape) {
  header {
    nav {
      &.loggedin {
        width: 80%; 
      }
      li {
          margin-left: 0px;
          margin-right: 8px;
          ul {
            margin-top: -1px;
          }
      }
      .follower__count {
        vertical-align: 10px;
        font-size: 21px;
      }
    }
  }
}
@include responsive(tab-portrait) {
  header {
    nav {
      margin-top: 12px;
      &.loggedin {
        width: 69%; 
      }
    }
  }
}
